
h2{margin:0; padding:0; }
header li a{color:black;}
ul{list-style-type:none; margin-top:25px;}
ul li{display:inline-block;} 
ul li a{text-decoration:none; padding:20px 20px 10px 20px; border:50px;}
ul li a:hover{background-color:grey;}
.search{padding-left:400px; border:50px;}
header ul div{display:inline-block; float:right;}
div li a:hover{text-decoration:underline; background-color:white;}

hr{color:gray;}

h3 a{list-style-type:none; text-decoration:none; color:white;}
h3{text-align:center; background-color:midnightblue; color:white;  margin: 100px 50px 50px 100px; padding:20px 20px 20px 20px;}
.ex-ho a:hover{transition:scale(2);}

main{text-align:center;}
main h2{font-size:25px;}
main h1{font-size:60px; text-align:center; width:800px; margin:10px 10px 50px 300px; padding:20px 20px 20px 50px;}
main p{font-size:20px;}

section ul{list-style-type:none; display:flex; margin-top:25px;}
section ul li{display:inline-block;}
section ul li{ text-decoration:none; padding:5px 20px 50px 20px; margin:5px 10px 20px 10px; border:5px;}

section ul li a{background-color:teal; color:white;}
section ul li a{padding:5px 15px 15px 15px; margin-top:5px; border-top:5px;}
.1{background-color:teal;}
.2{background-color:teal; border-radius:10px;}
.3{background-color:teal; border-radius:10px;}

span{ text-align:center; padding:20px 20px 20px 100px; margin:10px 10px 10px 100px; border:50px;}
#ex{list-style-type:none; text-decoration:underline; background-color:white; color:white;}

div ul li{display:flex; padding:20px 50px 20px 50px; margin:20px 30px 20px 30px; border-rigth:20px;}
div ul li{display:inline-block; border-style: solid; border-radius:10px;}

.example-list{display:flex;}
#eg{border-style:solid; border-radius:10px;}
#eg{padding:50px 10px 10px 10px;}
#eg{margin:10px 10px 10px 10px; border:30px;}
footer{background-color:black; color:white;}
.para{text-align:center;}
.ex-un a{text-decoration:underline;}

footer a{color:white;}

.example-list2{display:flex;}

footer a:hover{text-decoration:underline; opacity: 0.3; padding:0.5px 1px 0.5px 1px;}

footer section ul{display:flex; text-decoration:underline;}



